<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448720498588-eunhsocri7df189h91hksobn80gh71q6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448720498588-eunhsocri7df189h91hksobn80gh71q6</string>
	<key>API_KEY</key>
	<string>AIzaSyD-_LGTI2mjqWyZR2OAd4gnpSAAh-EU6rQ</string>
	<key>GCM_SENDER_ID</key>
	<string>448720498588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zlatan.swiftUV</string>
	<key>PROJECT_ID</key>
	<string>uv-today-2141b</string>
	<key>STORAGE_BUCKET</key>
	<string>uv-today-2141b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448720498588:ios:22b37a37eb79f29e4ee259</string>
</dict>
</plist>